@font-face {
    font-family: "Astrokids";
    src: url('astrokids/Astrokids.ttf');
    } 

body
{	
	display: flex;
	flex-direction: column;
	background-color: #333;
	margin:0;
	padding: 0;

}

.box
{

	background-color: white;
	width: 100px;
	height: 50px;
	position: relative;
	animation-name: anim;
	animation-duration: 8s;
	animation-iteration-count: infinite;

}

@keyframes anim

{
0%{background-color: #88c1d0; left:0px; top:0px;}
25%{background-color: #ffca4b; left:1700px; top:0px;}
50%{background-color: #275fa0; left:1700px; top:600px;}
75%{background-color: #000000; right:2000px; top:600px;}
100%{background-color:#88c1d0; left:0px; top:600px;}

}

@keyframes tourne {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

h1
{
	font-size: 50px;
	margin-top: 6%;
	text-align: center;
	font-family: 'Astrokids', cursive;
	text-shadow: 3px 5px 2px #88c1d0;
}


.tof
{	
	
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.t {
	animation: tourne 5s linear running;
	animation-iteration-count: 1;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #ffca4b;
}

footer
{

	font-family: "Astrokids";
	position: absolute;
	bottom: 0;
	background-color: #88c1d0;
	width: 100%;
	text-align: center;
	box-shadow: 5px 5px 5px  8px #ffca4b;


}

section
{
	display: flex;
	justify-content: center;
	margin-top: 10%;
}

button
{
	border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 1px 1px #88c1d0;
}